<!--Menu-->
<menu></menu>
<!--//Menu-->


<!--slider-->
<slider></slider>
<!--//slider-->
<div class="row newrow">
  <div class="col-lg-3">
     <!--User-->
      <user></user>
    <!--//User-->

    <!--Catigories-->
    <div class="card">
      <div class="card-header">
        <h4>Menu</h4>
      </div>
      <ul class="list-group list-group-flush">
       <a routerLink="/home ">
        <li class="list-group-item" >Home</li>
       </a> 
       <a routerLink="/categories">
        <li class="list-group-item" >Catgories</li>
       </a> 
       <a routerLink="/detail">
        <li class="list-group-item" >Detail</li>
       </a> 
      </ul>
    </div>
    <!--//Catigories-->
  </div>
  <div class="col-lg-9">
    <router-outlet></router-outlet>
  </div>
  
</div>